/*
 ************************************************************************************
 *
 * This file should be used for resetting browser css defaults in order to work
 *  with a fresh and consistent canvas on startup no matter what browser is being
 *  used.
 *
 ************************************************************************************
 */

// Importing external vender reset sass package. https://jgthms.com/minireset.css/
// Seems a little slimmer than Normalize.css.
// ==================================================================================
@import "../vendor/minireset.scss";

// Hard resetting form items and their actions.
input,
textarea,
button {
  border: 0;
  border-radius: 0;
  outline: none;
  appearance: none;

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}
