// TODO: use a function to pull out variables based on a parameter like in the gitcoin project.

// defaults
$default-margin: 0;
$default-padding: 0;

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: 'Michroma', sans-serif;
$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: 1.4;

// Fixed Font
$fixed-font-family: 'Roboto', sans-serif;;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

// Footer
$footer-margins: 1rem 0;
