//https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
//https://css-tricks.com/box-sizing/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

// Set Image and Objects to have a max-width of 100%
embed,
iframe,
img,
object,
video {
    max-width: 100%;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: $default-margin;
    padding: $default-padding;
    background: $color-background-primary;
    line-height: 1.2;
}

h1 {
    font: {
        family: $font-family-heading;
        weight: normal;
        size: 3rem;
    }
    color: $color-font-header;
}

ul {
    list-style-type: none;
}
ol {
    list-style-type: decimal;
}

li {
    display: inline-block;
}


