//https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
//https://css-tricks.com/box-sizing/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// Set Image and Objects to have a max-width of 100%
embed,
iframe,
img,
object,
video {
  max-width: 100%;
}

html, body {
  height: 100%;
}

body {
  margin: $default-margin;
  padding: $default-padding;
  background: $default-primary-color;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
}

a {
  color: $default-font-body-color;
}
