.hash-rebel-wrap-banner {
  display: flex;
  position: relative;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 1000px;
  justify-content: center;
}

.hash-rebel-main-banner {
  color: #fff;
  text-align: center;

  h1 {
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
  }
  h2 {
    font-size: 20px;
  }
}

.logo-fill {
  fill: $hash-rebel-brand-color;
}

.logo-fill:hover,
.logo-fill:focus {
  fill: #fff;
}
