//https://sass-lang.com/documentation/file.SASS_REFERENCE.html#mixins

@mixin font-smoothing() {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin center-absolute-element() {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

$testing-some-shit: 69rem;
