//https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
//https://css-tricks.com/box-sizing/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

// Set Image and Objects to have a max-width of 100%
embed,
iframe,
img,
object,
video {
    max-width: 100%;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: $default-margin;
    padding: $default-padding;
    background: $color-background-primary;
    line-height: 1.25;
    text-align: justify;
}

h1 {
    font: {
        family: $font-family-heading;
        weight: 500;
        size: 3rem;
    }
    margin-bottom: 2rem;
    color: $color-font-header;
}

a{
    color: $color-link;
    background: $color-link-fill-off;

    &:hover,
    &:focus {
        color: $color-link-active;
    }
}

br{
    display: block;
    content: " ";
    margin: 1rem 0;
}

ul ol {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

#app {
    overflow:hidden
}
