html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

// Set Image and Objects to have a max-width of 100%
embed,
iframe,
img,
object,
video {
    max-width: 100%;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: $default-margin;
    padding: $default-padding;
    background: $color-background-primary;
    line-height: 1.2;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
      font-family: $font-family-heading;
}

h1 {
    font-size: 3rem;
    margin-bottom: 4rem;
    color: $color-font-header;
}


h2 {
  font-size: 2.5rem;
  color: $color-brand-primary;
}

h3 {
  font-size: 2rem;
  color: $color-brand-primary;
}

h4 {
  font-size: 1.5rem;
  color: $grey;
}

h5 {
  font-size: 0.95rem;
  font-style: italic;
}

a{
    color: $color-link;
    background: $color-link-fill-off;

    &:hover,
    &:focus {
        color: $color-link-active;
    }
}

br{
    display: block;
    content: " ";
    margin: 1rem 0;
}

ul ol {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
