// Hash Rebel Branding
// =============================================================================
$color-brand-primary: #e7bb21;
$color-brand-primary-light: #f3dc8c;
$color-brand-primary-light-er: #fbf3d9;
$color-brand-primary-dark: #927510;
$color-brand-primary-invert: findColorInvert(#e7bb21);

// Defaults
// =============================================================================
$color-background-primary: #000;
$color-font-primary: #fff;
$color-font-header: $color-brand-primary;

// Social media related
// =============================================================================
$color-social-media-icon-primary: #fff;

// Hero
// =============================================================================
$code-background-color: rgba(0, 0, 0, 0.5);
$code-json-name-color: #ff4f4f;
$code-json-string-color: $color-brand-primary;
