// Hash Rebel Branding
// ==================================================================================
$hash-rebel-brand-color: #e7bb21;
$hash-rebel-brand-color-invert: findColorInvert(#e7bb21);

// Defaults
// ==================================================================================
$default-primary-color: #000;
$default-font-body-color: $hash-rebel-brand-color;

// Social media related
// ==================================================================================
$default-social-media-icon-color: #fff;

