// Social media icon layout
// ==================================================================================
$social-media-icon-width: 36px;
$social-media-icon-height: 36px;

// GitHub logo layout
// ==================================================================================
$git-hub-icon-anchor-height: 64px;
$git-hub-icon-anchor-width: 63px;