// Hash Rebel Branding
// =============================================================================
$color-brand-primary: #e7bb21;
$color-brand-primary-light: #f3dc8c;
$color-brand-primary-light-er: #fbf3d9;
$color-brand-primary-dark: #927510;
$color-brand-primary-invert: findColorInvert(#e7bb21);

// Defaults
// =============================================================================
$color-background-primary: #000;
$color-font-primary: #fff;
$color-font-header: $color-brand-primary;

// Social media related
// =============================================================================
$color-social-media-icon-primary: #fff;

// Hero
// =============================================================================
$color-code-background: rgba(0, 0, 0, 0.5);
$color-code-json-name: #ff4f4f;
$color-code-json-string: $color-brand-primary;

// Link
// =============================================================================
$color-link: $color-font-primary;
$color-link-active: $color-brand-primary-light-er;
$color-link-fill-on: rgba($color-brand-primary, 0.5);
$color-link-fill-off: rgba($color-brand-primary, 0);
