.hr-hero {
    @extend .hero;

    // Made relative in order to absolutely position the gradient
    position: relative;
    z-index: $z-hero-background;
    overflow: hidden;

    background: {
        image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #000000), url('assets/images/hero-galaxy-background.jpg');
        position: center center;
        repeat: no-repeat;
        //attachment: fixed;
        size: cover;
    };

    h1 {
        font-size: 4rem;
    }
}

.hr-hero-body {
    @extend .hero-body;
    padding: 6rem 0 8rem 0;
    position: relative;
    z-index: $z-hero-body;
}

.hr-author-code {
    margin-top: 5rem;
    margin-bottom: 5rem;

    code {
        padding: 1.5rem;
        color: $color-brand-primary-light-er;
    };
    .name{
        color: $color-code-json-name;
    };
    .string{
        color: $color-code-json-string;
    };
    .blink{
        color: $color-code-json-string;
        animation: blinker 1s linear infinite;
    }
}

// TODO: Put this into its own file.
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.hr-hero-watermark {
    .right {
        display: inline-block;
        position: absolute;
        z-index: $z-hero-watermark;
        bottom: 80px;
        right: -160px;
        img {
            opacity: 0.09;
            mix-blend-mode: lighten;
            height: 340px;
            width: auto;
        }
    }
    .left {
        display: inline-block;
        position: absolute;
        z-index: $z-hero-watermark;
        top: -150px;
        left: -140px;

        img {
            opacity: 0.09;
            transform: rotate(-136deg);
            mix-blend-mode: lighten;
            height: 540px;
            width: auto;
        }
    }
}
